<div class="franchise-list">
  <div *ngFor="let franchise of franchises" 
       [class.main-branch]="franchise.isMainBranch" 
       class="franchise-item">
    
    <div class="franchise-header">
      <h3 [class.main-branch-name]="franchise.isMainBranch">{{ franchise.name }}</h3>
      <span class="location" [class.main-branch-location]="franchise.isMainBranch">({{ franchise.location }})</span>
    </div>
    
    <div class="franchise-details">
      <p  [class.main-branch-Address]="franchise.isMainBranch"><strong [class.main-branch-Map]="franchise.isMainBranch">Address:</strong> {{ franchise.address }}</p>
      <p  [class.main-branch-Owner]="franchise.isMainBranch"><strong [class.main-branch-Map]="franchise.isMainBranch">Owner:</strong> {{ franchise.owner }}</p>
      <p  [class.main-branch-Owner]="franchise.isMainBranch"><strong [class.main-branch-Map]="franchise.isMainBranch">Contact Number:</strong> {{ franchise.contact }}</p>
      <p>
        <strong [class.main-branch-Map]="franchise.isMainBranch">Map:</strong> 
        <a  [class.main-branch-mapLink]="franchise.isMainBranch" class="map-link"  [href]="franchise.mapLink" target="_blank" class="map-link">View on Map</a>
      </p>
    </div>
    
      <!-- WhatsApp and Instagram Icons -->
      <div class="social-links">
        <a [href]="franchise.whatsapp" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a [href]="franchise.instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
  </div>
</div>
