<!-- Flavors Section -->
<div id="flavors" class="container py-5">
    <div class="coco-container">
        <div class="coco-text">
            Coco
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6 col-md-4 animated fadeInUp">
            <div class="card">
                <img src="../../assets/product/plane-coco.jpg" class="card-img-top" alt="Chocolate">
                <div class="card-body">
                    <h5 class="card-title">Plane Coco</h5>
                    <p class="card-text">Creamy chocolate coco made Khadi Sakhar for a naturally sweet indulgence!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 0.5s;">
            <div class="card">
                <img src="../../assets/product/coco-with-icecream.jpg" class="card-img-top" alt="Strawberry">
                <div class="card-body">
                    <h5 class="card-title">Coco with ice-cream</h5>
                    <p class="card-text">Creamy chocolate Coco with ice-cream made Khadi Sakhar for a naturally sweet
                        indulgence!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 1s;">
            <div class="card">
                <img src="../../assets/product/chocalate-chips-coco.jpg" class="card-img-top" alt="Vanilla">
                <div class="card-body">
                    <h5 class="card-title">Chocalate chips coco</h5>
                    <p class="card-text">Creamy chocolate chips Coco with ice-cream made Khadi Sakhar for a naturally
                        sweet indulgence!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6 col-md-4 animated fadeInUp">
            <div class="card">
                <img src="../../assets/product/kaju-coco.jpg" class="card-img-top" alt="Chocolate">
                <div class="card-body">
                    <h5 class="card-title">Kaju coco</h5>
                    <p class="card-text">Creamy kaju Coco with ice-cream made Khadi Sakhar for a naturally sweet
                        indulgence!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 0.5s;">
            <div class="card">
                <img src="../../assets/product/kit-kat-coco.jpg" class="card-img-top" alt="Strawberry">
                <div class="card-body">
                    <h5 class="card-title">Kitkat coco</h5>
                    <p class="card-text">Creamy Kitkat Coco with ice-cream made Khadi Sakhar for a naturally sweet
                        indulgence!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 1s;">
            <div class="card">
                <img src="../../assets/product/chocalate-chips-coco.jpg" class="card-img-top" alt="Vanilla">
                <div class="card-body">
                    <h5 class="card-title">Kaju chocalate coco</h5>
                    <p class="card-text">Creamy Kaju chocalate Coco with ice-cream made Khadi Sakhar for a naturally
                        sweet indulgence!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="coco-container mt-4">
        <div class="coco-text">
            Lassi
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-6 col-md-4 animated fadeInUp">
            <div class="card">
                <img src="../../assets/product/Dry-fruit Lassi.jpg" class="card-img-top" alt="Chocolate">
                <div class="card-body">
                    <h5 class="card-title">Dry fruit lassi</h5>
                    <p class="card-text">Dry Fruit Lassi is a delicious and nutritious traditional Indian drink made
                        Khadi Sakhar</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 0.5s;">
            <div class="card">
                <img src="../../assets/product/Mango-lassi.jpg" class="card-img-top" alt="Strawberry">
                <div class="card-body">
                    <h5 class="card-title">Mango lassi</h5>
                    <p class="card-text">Mango Lassi is a delicious and nutritious traditional Indian drink made Khadi
                        Sakhar</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 1s;">
            <div class="card">
                <img src="../../assets/product/Rose-lassi.jpg" class="card-img-top" alt="Vanilla">
                <div class="card-body">
                    <h5 class="card-title">Rose lassi</h5>
                    <p class="card-text">Rose lassi is a delicious and nutritious traditional Indian drink made Khadi
                        Sakhar</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6 col-md-4 animated fadeInUp">
            <div class="card">
                <img src="assets/images/chocolate-ice-cream.jpg" class="card-img-top" alt="Chocolate">
                <div class="card-body">
                    <h5 class="card-title">Chocolate Delight</h5>
                    <p class="card-text">Rich chocolate ice cream made with the finest cocoa.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 0.5s;">
            <div class="card">
                <img src="assets/images/strawberry-ice-cream.jpg" class="card-img-top" alt="Strawberry">
                <div class="card-body">
                    <h5 class="card-title">Strawberry Dream</h5>
                    <p class="card-text">Made with real strawberries for a refreshing experience.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 1s;">
            <div class="card">
                <img src="assets/images/vanilla-ice-cream.jpg" class="card-img-top" alt="Vanilla">
                <div class="card-body">
                    <h5 class="card-title">Vanilla Heaven</h5>
                    <p class="card-text">Classic vanilla ice cream made with pure vanilla beans.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6 col-md-4 animated fadeInUp">
            <div class="card">
                <img src="assets/images/chocolate-ice-cream.jpg" class="card-img-top" alt="Chocolate">
                <div class="card-body">
                    <h5 class="card-title">Chocolate Delight</h5>
                    <p class="card-text">Rich chocolate ice cream made with the finest cocoa.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 0.5s;">
            <div class="card">
                <img src="assets/images/strawberry-ice-cream.jpg" class="card-img-top" alt="Strawberry">
                <div class="card-body">
                    <h5 class="card-title">Strawberry Dream</h5>
                    <p class="card-text">Made with real strawberries for a refreshing experience.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 1s;">
            <div class="card">
                <img src="assets/images/vanilla-ice-cream.jpg" class="card-img-top" alt="Vanilla">
                <div class="card-body">
                    <h5 class="card-title">Vanilla Heaven</h5>
                    <p class="card-text">Classic vanilla ice cream made with pure vanilla beans.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6 col-md-4 animated fadeInUp">
            <div class="card">
                <img src="assets/images/chocolate-ice-cream.jpg" class="card-img-top" alt="Chocolate">
                <div class="card-body">
                    <h5 class="card-title">Chocolate Delight</h5>
                    <p class="card-text">Rich chocolate ice cream made with the finest cocoa.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 0.5s;">
            <div class="card">
                <img src="assets/images/strawberry-ice-cream.jpg" class="card-img-top" alt="Strawberry">
                <div class="card-body">
                    <h5 class="card-title">Strawberry Dream</h5>
                    <p class="card-text">Made with real strawberries for a refreshing experience.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 animated fadeInUp" style="animation-delay: 1s;">
            <div class="card">
                <img src="assets/images/vanilla-ice-cream.jpg" class="card-img-top" alt="Vanilla">
                <div class="card-body">
                    <h5 class="card-title">Vanilla Heaven</h5>
                    <p class="card-text">Classic vanilla ice cream made with pure vanilla beans.</p>
                </div>
            </div>
        </div>
    </div>
</div>