<!-- <div class="row justify-content-evenly mt-5 pt-3 pb-5 foot ">
    <div class="col-md-4">
        <img src="../../assets/image/company-logo.png" style="width: 300px;" class="image2">
    </div>

    <div class="col-sm-2 mt-2 mb-2 text-center foot1">
        
        <h4 class="text-dark header1">Address</h4>
        <div class="icon"><i class="bi bi-geo-alt-fill "></i></div>
        <p class="text-dark p1">Cifs code <br>Silver Tread Centar, <br> mota
            varacha, <br>surat,Gujarat,India.</p>

    </div>

    <div class="col-sm-2 mt-2 mb-4 siders text-center">
        <h4 class="text-dark header1">Contact us</h4>
        <p class="text-dark mt-3 p1"><i class="bi bi-telephone-fill "></i>+91 88665 06665</p>
        
    </div>
    <div class="col-sm-2 mt-2 mb-4 siders text-center">
        <h4 class="text-dark header1 ">Hours</h4>
        <div class="icon"><i class="bi bi-clock-fill"></i></div>
        <p class="text-dark p1">Open Daily<br>10AM-12PM</p>
        
    </div>

</div> -->

<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <a href="#"><img src="../../assets/image/company-logo.png" alt="logo"></a>
                    <p>At "Our Coco King," we bring a unique and exclusive coco experience. In our Desert shop, you will find high-quality and taste-approved coco products that will add sweetness and joy to your life. </p>
                    <div class="hr"></div>
                    <h6>+91 8000428689</h6>
                    <!-- <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href=""><i class="fa-facebook-f"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-github"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-behance"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
    <div>Copyright &copy; 2024 <img src="../../assets/image/company-logo.png" alt="logo"> All Rights Reserved.</div>
</footer>