<nav class="navbar navbar-expand-lg new-navbar">
  <div class="container">
    
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="../../assets/image/coco-king-logo.png" class="nav-logo" alt="Logo">
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu (RIGHT SIDE) -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
      <ul class="navbar-nav gap-4">

        <li class="nav-item">
          <a class="nav-link modern-link" routerLink="/home" routerLinkActive="active" (click)="closeNav()">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link modern-link" routerLink="/products" routerLinkActive="active" (click)="closeNav()">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link modern-link" routerLink="/our-franchise" routerLinkActive="active" (click)="closeNav()">Our Franchise</a>
        </li>

        <li class="nav-item">
          <a class="nav-link modern-link" routerLink="/about-us" routerLinkActive="active" (click)="closeNav()">About Us</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
